@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.abel {
  font-family: "Abel", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.name-icon {
  width: 100%;
  height: 4rem;
  border-radius: 30%;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #eee;
  font-size: 2rem;
  font-family: "Abel", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 15px;
  background-color: #eee;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border-radius: 12px;
  background-color: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Abel {
  font-family: "Abel", sans-serif;
}
.Poiret {
  font-family: "Poiret One", sans-serif;
}

.rounded-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right {
}
.grayscale1 {
  filter: grayscale(0);
}

.btn-effect {
  position: relative;
  z-index: 10;
}
.btn-effect-1 {
  position: relative;
  z-index: 10;
}

.btn-effect span:nth-child(1) {
  position: absolute;
  top: -2rem;
  height: 2rem;
  width: 94%;
  background-color: white;
}
.btn-effect span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  height: 100%;
  width: 93%;
  background-color: #0e0b0e;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.btn-effect span:nth-child(2) {
  position: absolute;
  bottom: -2rem;
  height: 2rem;
  width: 94%;
  background-color: white;
}
.btn-effect span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  height: 100%;
  width: 93%;
  background-color: #0e0b0e;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.picker {
  position: relative;
}
.picker-nose {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 1.8rem;
  left: 5rem;
  /* border-bottom-left-radius: 9999%;
  border-bottom-right-radius: 9999%; */
}
.card-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.world-map {
  background-image: url("./assets/world-map.png");
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

.black-gradient {
  background: linear-gradient(
    45deg,
    #000000,
    #040404,
    #080808,
    #0c0c0c,
    #101010,
    #141414
  );
}
.card-shadow {
  box-shadow: 0px 0px 40px 0px #0000001a;
}
.card-shadow-2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.background-pattern {
  background-image: url("./assets/Layer_4.svg");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
}

.background-pattern-1 {
  background-image: url("./assets/Layer_2.svg");
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;
}
.world-map-pattern {
  background-image: url("./assets/world-map_image.jpg");
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;
}

.navbar-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.translated {
  transform: translate3d(0, 0, 0);
}

.fancy-background {
  border-radius: 42% 58% 68% 32% / 53% 32% 68% 47%;
}

.sidebar-active svg path {
  fill: black;
}
.sidebar-inactive svg path {
  fill: white;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

@media screen and (max-width: 768px) {
  .roundedbox {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-width: 2px;
  }
  .noborder {
    border: none;
  }
  .marginCards {
    margin: 1rem;
  }

  .sidebar-transform {
    transition: transform 0.4s ease-out;
    transform-origin: top left;
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    -webkit-transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    -ms-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
  }
  .sidebar-show {
    sidebar-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transition: transform 0.3s ease-in;
    transform-origin: top left;
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #099dfd);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#channelName {
  display: block;
  padding: 15px;
  margin: 0 0 25px;
  width: 50vw;
  max-width: 500px;
}

.card button:hover {
  border-color: #099dfd;
  background-color: #099dfd;
}

#controlsToolbar {
  bottom: 35px;
  right: 35px;
  position: fixed;
  z-index: 99;
}

#mediaControls button {
  margin: 0 5px 7.5px;
  padding: 10px;
}

#mediaControls button:hover {
  border-color: #099dfd;
}

#endConnection {
  border-color: red;
  opacity: 50%;
}

#endConnection:hover {
  background-color: red;
  border-color: white;
  opacity: 100%;
}

#localVideo {
  width: 50vw;
  aspect-ratio: 16/9;
  max-width: 480px;
  min-width: 360px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin: 0;
}

#remoteVideoGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* justify-content: center; */
  align-items: center;
}

.remote-video-container {
  position: relative;
  width: 25vw;
  aspect-ratio: 4/3;
  max-width: 720px;
  min-width: 360px;
  overflow: hidden;
}
